
.left h1 {
    display: inline-flex;
    padding-left: 5px;
   
}
  
.left hr {
    width: 70px;
    border-color: rgb(233, 32, 32);
    margin-left: 5px;
}
.left {   
    float: left;
    width: 760px;
    margin-top:30px ;
    height: 690px;
    margin-left: 10px;
    margin-bottom: 50px;
         
}
.card-4 {
    border: 1px solid gray;
    width: 740px;
    height: 150px;
    display: inline-flex;
    margin-bottom: 10px;
}

.card-4:hover { 
    transform: scale(1.01); 
}
.text_block{
    display: block;
    margin-left: 5px;  
}

.text_block p{
    font-size: small; 
    color: gray;   
}
.text_block span{
    font-size: small; 
    color: gray; 
}

.card-4 img{
    width: 280px; 
}
    /* Right column */
.right {
    float: right;
    width: 375px;
    height: 700px;
    margin-top:30px;
    margin-right: 32px;
    margin-bottom: 20px;
}
.adverties:hover { 
    transform: scale(1.01); 
}
.right h1 {
    display: block;
    padding-left: 5px;
}
  
.right hr {
    width: 70px;
    border-color: rgb(233, 32, 32);
    margin-left: 5px;
}


.adverties img{
    border: 1px solid gray;
    margin-top: 50px;
    width: 375px;
    height: 550px;
    display: inline-block
}
.topPost{
  border: 1px solid rgb(95, 95, 94);
  width: 375px;
  height: 280px;
  display: inline-block;
}
.topPost img{
    width: 375px;
    height: 280px;
}
.topPost:hover { 
    transform: scale(1.01); 
}
.short{
  border: 1px solid gray;
  width: 375px;
  height: 100px;
  display: flex;
  margin-bottom: 10px;
}
.short img{
    width: 150px;
}
.short h4{
    position: relative;
    top: -15px;
    margin-left: 5px;
}
.short:hover { 
    transform: scale(1.01); 
}